.form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    width: 40%;
    margin: 10px 20px;
}

.btn {
    width: 40%;
    padding: 10px;

    background-color: red;
    color: azure;
    font-size: 18px;
}